mixin createBookUpdate(book)
    section#book-update.none
        form.form#book-update--form
            .form_image_upload
                img#book-image-0(src=`/${book.image[0]}` alt='عکس')
                img#book-image-1(src=`/${book.image[1] ? book.image[1] : 'img/books/book.png'}` alt='عکس')
                label.a-btn(for="image") آپلود تصویر 
                input#image.image_upload.none(type='file' name='image' accept='image/*' multiple='')
            input#name(type='text' name='name' placeholder='نام' required='' value=`${book.name}`)
            .form-group
                label(for='level') پایه
                select#level(name='level' required='')
                    option(value='دهم' selected =map.get('دهم') ) دهم
                    option(value='یازدهم' selected =map.get('یازدهم')) یازدهم
                    option(value='پایه' selected =map.get('پایه')) پایه
                    option(value='دوازدهم' selected =map.get('دوازدهم')) دوازدهم
                    option(value='جامع' selected =map.get('جامع')) جامع
            .form-group
                label(for='major') رشته
                select#major(name='major' required='')
                    option(value='ریاضی' selected =map.get('ریاضی')) ریاضی
                    option(value='تجربی' selected =map.get('تجربی')) تجربی
                    option(value='انسانی' selected =map.get('انسانی')) انسانی
                    option(value='عمومی' selected =map.get('عمومی')) عمومی
                    option(value='ریاضی-تجربی' selected =map.get('ریاضی-تجربی')) ریاضی-تجربی
                    option(value='کتابچه عمومی' selected =map.get('کتابچه عمومی')) کتابچه عمومی
                    option(value='کتابچه تخصصی' selected =map.get('کتابچه تخصصی')) کتابچه تخصصی
            .form-group
                label(for='publisher') انتشارات
                select#publisher(name='publisher' required='')
                    option(value='خیلی سبز' selected =map.get('خیلی سبز')) خیلی سبز
                    option(value='گاج' selected =map.get('گاج')) گاج
                    option(value='مهر و ماه' selected =map.get('مهر و ماه')) مهر و ماه
                    option(value='مبتکران' selected =map.get('مبتکران')) مبتکران
                    option(value='نشر الگو' selected =map.get('نشر الگو')) نشر الگو
                    option(value='نشر دریافت' selected =map.get('نشر دریافت')) نشر دریافت
                    option(value='کانون قلمچی' selected =map.get('کانون قلمچی')) کانون قلمچی
                    option(value='خوشخوان' selected = map.get('خوشخوان')) خوشخوان
                    option(value='سفیر خرد' selected = map.get('سفیر خرد')) سفیر خرد
                    option(value='فار' selected = map.get('فار')) فار
                    option(value='دیگر' selected =map.get('دیگر')) دیگر
            input#year(type='number' name='year' placeholder='سال' required='' value=`${book.realYear}`)
            input#price(type='number' name='price' placeholder='قیمت' required='' value=`${book.realPrice}`)
            textarea#summery(name='summery' cols='30' rows='10' placeholder='توضیحات' ) #{book.summery}
            button ذخیره
